body {
    margin: 0px;
    background: rgb(81, 125, 247);
    color: whitesmoke;
}
header h1 {
    margin: 0px;
    color: black;
    display: inline;
}
nav ul {
    margin: 0px;
    display: inline;
}
nav ul li {
    margin: 0px;
    padding: 5px 15px;
    background: white;
    color: black;
    list-style-type: none;
    display: inline-block;
}
